[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-mock = "*"
"flake8" = "*"
mypy = "*"
flask = "*"

[requires]
python_version = "3.6"
